*{
	font-family: 'Raleway', sans-serif;
	font-variant-numeric: lining-nums;
	-webkit-tap-highlight-color: transparent;
}

body{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background: #2d2d2d;
}

body::-webkit-scrollbar{
	width: 0;
	height: 0;
}

header{
	z-index: 999;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	background: rgba(45, 45, 45, 1.0);
}

.logo{
	display: flex;
	width: 270px;
	height: 120px;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 550px;
	padding-right: 60px;
}

.nav_button{
	transition: .15s linear;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	width: 120px;
	height: 34px;
	border: solid 2px #FFFFFF;
	border-radius: 3px;
}

.nav_button:hover{
	transition: .15s linear;
	width: 145px;
	height: 39px;
	font-size: 18px;
}

.nav_button:active{
	border: solid grey 2px;
	color: grey;
}

.banner{
	height: 420px;
	background-position: bottom;
	background-attachment: fixed;
}
.banner_text{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	font-weight: 600;
	font-size: 60px;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

.main_title{
	display: flex;
	flex-direction: column;
	margin: 0px 9%;
	padding: 5% 0px;
}

.object_details{
	display: flex;
	justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 5%;
}

.detail{
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.detail_content{
	font-size: 24px;
	font-weight: 300;
}

.title{
	font-size: 28px;
    font-weight: 600;
}

.title_content{
	margin-top: 1%;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	color: rgba(255, 255, 255, 0.7);
}

.object{
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 45px;
	justify-items: center;
	padding: 0 8%;
}
.object a{
	background: #2d2d2d;
}

.object a img{
	transition: .1s linear;
	width: 40vw;
	height: 100%;
	box-shadow: 0px 0px 8px black;
    border-radius: 2px;
}

.object a img:hover{
	transition: .1s linear;
	scale: 1.000;
	opacity: 0.6;
	box-shadow: 0px 0px 12px black;
}

.object_img{
	display: flex;
	flex-direction: column;
    align-items: center;
    border-radius: 5px;

}

.caption{
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	padding-top: 2%;
	padding-bottom: 2%;
}

footer{
	height: 900px;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	background: #2d2d2d;
	color: #fff;
}

.footer_img{
	width: 25%;
	margin-top: 5%;
}

.footer_text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer_text_bold{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 2%;
}

.footer_text_light{
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	width: 65%;
	margin-bottom: 10%;
}

.footer_info{
	display: flex;
	justify-content: space-around;
}

.footer_bold{
	font-size: 25px;
	font-weight: 600;
}

.footer_light{
	font-size: 25px;
	font-weight: 300;
	margin-top: 6%;
}

.footer_address{
	display: flex;
	flex-direction: column;
  align-items: center;
}

.footer_contacts{
	display: flex;
	flex-direction: column;
  align-items: center;
}

.footer_info{
	display: flex;
	width: 100%;
}

.footer_flats{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	column-gap: 5vw;
}

.footer_flats img{
	transition: .15s linear;
	width: 2vw;
	height: 2vw;
	position: absolute;
}

.footer_flats img:hover{
	transition: .15s linear;
	scale: 1.2;
}

@media(max-width:1440px){
	.nav_button:hover{
		width: 135px;
		height: 36px;
	}
	.banner_text{
		font-size: 50px;
	}
	footer{
		height: 800px;
	}
	.footer_img{
		margin-top: 0;
	}
	.footer_text_bold{
		font-size: 24px;
	}
	.footer_text_light{
		font-size: 18px;
	}
	.footer_bold{
		font-size: 21px;
	}
	.footer_light{
		font-size: 21px;
	}
	.footer_flats{
		margin-top: 5%;
		margin-bottom: 0;
	}
}

@media(max-width:1024px){
	header{
		height: 80px;
	}
	.logo{
		width: 220px;
		height: 100px;
	}
	nav{
		width: 400px;
	}
	.nav_button{
		font-size: 12px;
		width: 90px;
		height: 30px;
		border: solid 1px #fff;
	}
	.nav_button:hover{
		width: 100px;
		height: 32px;
		font-size: 13px;
	}
	.nav_button:active{
		border: solid grey 1px;
	}
	.banner{
		height: 360px;
	}
	.banner_text{
		font-size: 40px;
	}
	.detail{
		font-size: 24px;
	}
	.detail_content{
		font-size: 20px;
	}
	.title{
		font-size: 24px;
	}
	.title_content{
		font-size: 20px;
	}
	footer{
		height: 500px;
	}
	.footer_img{
		margin-top: 0;
	}
	.footer_text_bold{
		font-size: 20px;
	}
	.footer_text_light{
		font-size: 14px;
	}
	.footer_bold{
		font-size: 18px;
	}
	.footer_light{
		font-size: 18px;
	}
	.footer_flats{
		margin-bottom: 5%;
	}
}

@media(max-width:768px){
	body.lock{
		overflow: hidden;
	}
	.nav_icon{
		z-index: 999;
		display: block;
		position: relative;
		width: 25px;
		height: 16px;
		right: 4%;
		cursor: pointer;
	}
	.nav_icon span,
	.nav_icon::before,
	.nav_icon::after{
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.nav_icon::before,
	.nav_icon::after{
		content: '';
	}
	.nav_icon::before{
		top: 0;
	}
	.nav_icon::after{
		bottom: 0;
	}
	.nav_icon span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.nav_icon.active span{
		transform: scale(0) translate(0px, -50%);
	}
	.nav_icon.active::before{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.nav_icon.active::after{
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	header{
		height: 60px;
	}
	.logo{
		position: relative;
		z-index: 999;
		width: 170px;
		height: 75px;
	}
	nav{
		overflow: hidden;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: all 0.15s ease 0s;
		transform: translate(-100%, 0px);
	}
	nav.active{
		transform: translate(0px, 0px);
	}
	nav::before{
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px;
		background-color: #2d2d2d;
	}
	.nav_button{
		transition: .05s ease;
		font-size: 20px;
		font-weight: 300;
		position: relative;
		top: 20%;
		left: 23%;
		width: 50%;
		height: 8%;
		border-bottom: solid 1px #FFFFFF;
		margin-bottom: 40px;
	}
	.nav_button:last-child{
		margin: 0;
	}
	.nav_button:active, .nav_button:hover{
		transition: .05s ease;
		font-size: 20px;
		font-weight: 300;
		width: 50%;
		height: 8%;
		scale: 0.95;
	}
	.banner{
		height: 280px;
	}
	.banner_text{
		font-size: 26px;
	}
	.detail{
		font-size: 18px;
	}
	.detail_content{
		font-size: 14px;
	}
	.title{
		font-size: 18px;
	}
	.title_content{
		font-size: 14px;
	}
	.caption{
		font-size: 16px;
	}
	footer{
		height: 500px;
	}
	.footer_img{
		width: 31%;
		margin-bottom: 1%;
	}
	.footer_text_bold{
		font-size: 18px;
	}
	.footer_text_light{
		font-size: 14px;
	}
	.footer_bold{
		font-size: 15px;
	}
	.footer_light{
		font-size: 13px;
	}
	.footer_flats img{
		width: 2.5vw;
		height: 2.5vw;
	}
	.footer_flats img:hover{
		scale: 0.9;
	}
	.footer_flats{
		position: relative;
		bottom: -20px;
	}
}

@media(max-width:650px){
	.footer_flats img{
		width: 3vw;
		height: 3vw;
	}
	.footer_flats{
		column-gap: 6vw;
	}
}

@media(max-width:550px){
	.footer_flats img{
		width: 3.5vw;
		height: 3.5vw;
	}
	.footer_flats{
		column-gap: 7vw;
	}
}

@media(max-width:425px){
	.nav_icon{
		width: 26px;
		height: 15.5px;
	}
	.nav_button{
		font-size: 20px;
		top: 20%;
		left: 21%;
		width: 48%;
		height: 6%;
		margin-bottom: 40px;
	}
	.nav_button:active, .nav_button:hover{
		width: 48%;
		height: 6%;
	}
	nav::before{
		height: 45px;
	}
	header{
		height: 45px;
	}
	.logo{
		width: 120px;
		height: 52px;
	}
	.banner{
		height: 200px;
	}
	.banner_text{
		font-size: 20px;
	}
	.main_title{
		margin: 0 4%;
	}
	.object_details{
		display: grid;
		grid-template-columns: auto auto;
    	grid-column-gap: 25%;
		grid-row-gap: 15%;
		margin-bottom: 5%;
	}
	.detail{
		font-size: 14px;
	}
	.detail_content{
		font-size: 12px;
	}
	.title{
		font-size: 14px;
	}
	.title_content{
		font-size: 12px;
	}
	.object{
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-row-gap: 3vw;
		padding: 0 3%;
	}
	.object a img{
		width: 90vw;
	}
	.caption{
		width: 100%;
		font-size: 16px;
	}
	footer{
		height: 300px;
	}
	.footer_img{
		width: 40%;
	}
	.footer_text_bold{
		font-size: 12px;
	}
	.footer_text_light{
		font-size: 8px;
	}
	.footer_bold{
		font-size: 10px;
	}
	.footer_light{
		font-size: 10px;
	}
	.footer_flats{
		position: relative;
		bottom: -10px;
	}
}
@media(max-width:375px){
	.nav_icon{
		width: 20px;
		height: 10px;
	}
	.nav_button{
		font-size: 20px;
		top: 20%;
		left: 15%;
		width: 52%;
		height: 5%;
		margin-bottom: 40px;
	}
	.nav_button:active, .nav_button:hover{
		width: 52%;
		height: 5%;
	}
	nav::before{
		height: 40px;
	}
	header{
		height: 40px;
	}
	.logo{
		width: 90px;
		height: 40px;
	}
	.banner{
		height: 160px;
	}
	.banner_text{
		font-size: 16px;
	}
	footer{
		height: 280px;
	}
	.footer_img{
		width: 35%;
	}
	.footer_text_bold{
		font-size: 10px;
	}
	.footer_text_light{
		font-size: 8px;
	}
	.footer_bold{
		font-size: 8px;
	}
	.footer_light{
		font-size: 8px;
	}
	.footer_flats{
		position: relative;
		bottom: -20px;
	}
}
@media(max-width:320px){
	.nav_icon{
		width: 20px;
		height: 10px;
	}
	.nav_button{
		font-size: 20px;
		top: 20%;
		left: 15%;
		width: 52%;
		height: 5%;
		margin-bottom: 40px;
	}
	nav::before{
		height: 40px;
	}
	header{
		height: 40px;
	}
	.logo{
		width: 90px;
		height: 40px;
	}
	.banner{
		height: 140px;
		background-position: 0px -50px !important;
		background-repeat: no-repeat !important;
	}
	.banner_text{
		font-size: 14px;
	}
	footer{
		height: 280px;
	}
	.footer_img{
		width: 35%;
	}
	.footer_text_bold{
		font-size: 10px;
	}
	.footer_text_light{
		font-size: 8px;
	}
	.footer_bold{
		font-size: 8px;
	}
	.footer_light{
		font-size: 8px;
	}
	.footer_flats{
		position: relative;
		bottom: -20px;
	}
}