{% extends "layouts/landing-layout.html" %}
{% load static extra_settings widget_tweaks  %}

{% comment %}

EXTRA SETTINGS EXAMPLE:
get_setting 'SUBTITLE' default=''

{% endcomment %}

{% block content  %}
	<main>
		<div class="slider" id="slider">
			<div class="slider_title">
        <div class="slider_bold">Спасибо!</div>
        <div class="slider_line"></div>
        <div class="slider_light">Наш сотрудник свяжется с вами</div>
      </div>
	  		<div class="slider_buttons">
	  			<a href="/" class="slider_button_callback">НА ГЛАВНУЮ</a>
	  		</div>
	  		<div class="slider_flats">
	  			<div><a href="tel:{% get_setting 'Link_phone' %}"><img src="{% static 'images/phone.png' %}" alt=""></a></div>
	  			<div><a href="mailto:{% get_setting 'Link_mail' %}"><img src="{% static 'images/mail.png' %}" alt=""></a></div>
	  			<div><a href="{% get_setting 'Link_instagram' %}"><img src="{% static 'images/instagram.png' %}" alt=""></a></div>
	  			<div><a href="{% get_setting 'Link_telegram' %}"><img src="{% static 'images/vk.png' %}" alt=""></a></div>
	  			<div><a href="{% get_setting 'Link_vk' %}"><img src="{% static 'images/facebook.png' %}" alt=""></a></div>
	  			<div><a href="{% get_setting 'Link_facebook' %}"><img src="{% static 'images/telegram.png' %}" alt=""></a></div>
        </div>
			<div class="swiper mySwiper">
			    <div class="swiper-wrapper">
				    <div class="swiper-slide"><img src="{% static 'images/slider_1.jpg' %}" alt=""></div>
				    <div class="swiper-slide"><img src="{% static 'images/slider_2.jpg' %}" alt=""></div>
				    <div class="swiper-slide"><img src="{% static 'images/slider_3.jpg' %}" alt=""></div>
			    </div>
	  		</div>
		</div>
	</main>
{% endblock %}
